


    <app-sidebar></app-sidebar>

    <app-breadcrumbs></app-breadcrumbs>

    <router-outlet></router-outlet>

      <!-- Mi sistema de rutas -->

      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
          © 20xx Admin Pro by wrappixel.com
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->




