
<div class="container-article"  >
  <div class="content-article-box">
        <a class="linkDetal" (click)="onSelectArticle(articulo)" data-toggle="modal"  data-target="#articulo-modal"
          data-target="ModalArticle" update="ModalArticle" url="/search/368/">
          <div style="position:relative">
              <div class="anamatePicture2 pt-1 mb-0" title="{{articulo.metadata}}" id="Img"
                   style="background:url({{base_url}}static/img/media/{{articulo.folder}}/{{articulo.media}}); margin:auto">
              </div>
          </div>
        </a>
      <div class="container-fluid mt-0 pt-0 pl-1 pr-3">
        <div class="row text-left" >
          <div class="col-12 caption" >
            <h4>{{articulo.nombre}}</h4>
          </div>
          <div class="col-12 text-left" >
            <div class="detalle-producto detalle-valor" >${{articulo.valorMe}}</div>
          </div>
        </div>
        <div class="row text-left" >
          <div class="col-12">
            <a class="whatsapp-send" data-source="https://basilos.online/catalogo/articulo/368/" whatsapp-number="573024073094">
                <div  class="btnWhatsapp p-2"><i class="fa fa-whatsapp" aria-hidden="true">Whatsapp</i></div>
            </a>
          </div>
        </div>
      </div>

  </div>

</div>


