<div class="row">

          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <app-dona [title]="'ventas 1'"
                          [labels]="label1"
                          [data]="data1"
                          [colors]="colors"></app-dona>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <app-dona [title]="'ventas 2'"></app-dona>

              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <app-dona [title]="'ventas 3'"></app-dona>

              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <app-dona [title]="'Sales 4'"></app-dona>

              </div>
            </div>
          </div>

</div>

