.columna100,.columna50{padding:0px !important}
          .borderRound{
              border: 2px solid #cccccc !important;
               border-radius: 25px;
          }

          .header-factura{
              background-color: #cccccc !important;
          }

          .font-t10{
              font-size:12px
          }

          .font-t11{
              font-size:11px
          }

           table .DetallePost{
              border-spacing: 0px !important;
              border-collapse: separate !important;
          }

         .DetallePost >  table, th, td {
          border: none;
          padding: 0px;
        }
        .DetallePost table {
          border-spacing: 0px;
        }
