<div class="input-group">
  <span class="input-group-btn">
    <button [ngClass]="btnClassInfo"
            type="button"
            (click)="cambiarVAlor(-5)"><i class="fa fa-minus"></i>
    </button>
  </span>
  <input type="number"
         class="form-control"
         placeholder="Product name"
         min="0"
         max="100"
         maxlength="2"
         [ngClass]="{'is-invalid': progress > 100 || progress < 0}"
         (ngModelChange) = onChange($event)
         [(ngModel)]="progress">
  <span class="input-group-btn">
    <button [ngClass]="btnClassPrymari"
            (click)="cambiarVAlor(+5)"
            type="button"><i class="fa fa-plus"></i>
    </button>
  </span>
</div>
