<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="catalogo/{{sidebarService.sede}}">
    <img src="/assets/images/logo-jago.png" alt="@jago" style="width:40px !important" width="150">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="catalogo/{{sidebarService.sede}}"><i class="fa fa-home" aria-hidden="true"></i>
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown"  *ngFor="let item of menuItems" >
        <a class="nav-link nav-link dropdown-toggle" href="#" *ngIf="!item.sesion">{{item.categoria}}</a>
        <a class="nav-link dropdown-toggle" href="#" *ngIf="item.sesion" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{item.categoria}}
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="item.sesion">
          <a class="dropdown-item" *ngFor="let subitem of item.sesion"
              [routerLink]="['catalogo/articulos', item?.categoria, subitem?.session, sidebarService.sede, item?.id, subitem?.id]"
              [state]="{ orderId: 1234 }">{{subitem.session}}</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
