input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.placas {
  text-transform: uppercase !important;
}


.button-save { position: fixed; bottom: 50px; right: 10px;z-index: 500 }
