
      <div class="container-fluid mt-0 pt-0 pl-1 pr-3">
        <div class="row text-left" >
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7 col-xs-12 ">
            <a class="linkDetal" (click)=" onSelectArticle(articulo)">
              <div style="position:relative">
                <div class="anamatePicture2 pt-1 mb-0" title="{{articulo?.metadata}}"
                   style="background:url({{base_url}}static/img/media/{{articulo?.folder}}/{{articulo?.media}}); margin:auto">
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-9 col-lg-8 col-md-7 col-sm-5 col-xs-12" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 caption" >
                      <h4>{{articulo?.nombre}}</h4>
                    </div>
                    <div class="col-12 caption-description hidden-xs" style="text-transform: capitalize;">
                      <h5>{{articulo?.descripcion}}</h5>
                    </div>
                    <div class="col-12 text-left" >
                      <div class="detalle-producto detalle-valor" >${{articulo?.valorMe}}</div>
                    </div>
                    <div class="col-12 text-left">
                        <div  class="btnWhatsapp p-2">
                          <a class="whatsapp-send" (click)="whatsappSend()">
                            <i class="fa fa-whatsapp" aria-hidden="true">Whatsapp</i>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>
