@font-face {
  font-family: GothamPro;
  src: url(assets/css/GothamPro-Bold.eot);
  src: url(assets/css/GothamPro-Bold.woff2) format("woff2"),
      url('assets/css/GothamPro-Bold.woff') format("woff"),
      url('assets/css/GothamPro-Bold.ttf') format("truetype"),
      url('assets/css/GothamPro-Bold.eot') format("embedded-opentype");
  font-weight: 800;
  font-style: normal
}


.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}


#themecolors .selector{
   cursor: pointer;
}


.ng-dropdown-panel .scroll-host{
  background-color: white !important;
  padding: 1px;
  margin-top: 12px;
  margin-left: -15px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.ng-option{
  padding: 10px;
}

.ng-option-marked{
  margin-top: 10px !important;
  padding: 10px;
  background-color: #398bf7;
  color: white;
}


.preloader{
  background-color: rgba(0,0,0,.15) !important;
}

a {
  cursor: pointer;
}
body{
  font-family: Gotham, sans-serif;
  font-weight: 300;
  color: #313131;
  font-size: 14px;
  line-height: 20px;
}


.btnWhatsapp {
  font-family: GothamPro;
  background-color: #46a049;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.8px;
  padding: 9px 30px 7px 30px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  width: 105px;
  cursor: pointer;
}


