
<div class="row animated fadeIn fast">

</div>

<div class="row animated fadeIn fast">
  <div class="col-12">

     <!-- <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
     -->
  </div>
</div>
<flash-messages></flash-messages>

<div class="row">
  <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pendientes por pesas</h4>
                <h6 class="card-subtitle">Datos de la basculas tomados despues de realizar el descargue</h6>
                <div class="table-responsive">
                    <table class="table table-bordered" >
                        <thead>
                            <tr class="uk-text-bold">
                                <th>FacturaNo</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Tercero</th>
                                <th>Placas</th>
                                <th>Peso Vehículo(Kg)</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of isPendiente(dtFacturas)" ng-show="showTableLoad">
                                <td>{{item.consecutivo}}</td>
                                <td>{{fecha(item.fecha)}}</td>
                                <td>{{item.hora}}</td>
                                <td>{{item.tercero.dttercerojuridico.razonSocial }}</td>
                                <td>{{item.placavehiculo}}</td>
                                <td>{{item.pesovehiculo}}</td>
                                <td>{{item.descripcion}}</td>

                                <td class="text-nowrap">
                                  <button type="button"   (click)="onAddPeso(item)" data-original-title="Peso Vehículo" class="btn waves-effect waves-light btn-success"> <i class="fa fa-truck text-inverse m-r-10"></i> </button>
                                  <button type="button"   (click)="openAddModalMaterial(item)" data-toggle="modal" data-target="#cierre-modal"  data-original-title="Descuento" class="btn waves-effect waves-light btn-warning"> <i class="fa fa-handshake-o text-inverse m-r-10"></i> </button>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <input type="hidden" id="openModalButton"  data-toggle="modal"  data-target="#peso-modal" />
                </div>

            </div>
        </div>
  </div>
</div>

<div id="cierre-modal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" wfd-id="13" aria-hidden="true">
  <div class="modal-dialog" wfd-id="172">
      <div class="modal-content" wfd-id="173">
          <div class="modal-header" wfd-id="181">
              <h4 class="modal-title">Cerrar proceso</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" wfd-id="157">×</button>
          </div>


          <div class="modal-body" wfd-id="175">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div wfd-id="181" class="mb-4">
                          <h5 class="modal-title" >
                          <b>No. </b><span style="color:red;font-weight:bold;">{{dtFactura.consecutivo}}</span></h5>
                        </div>
                    </div>
                    <div class="col-6">
                      <div wfd-id="181" class="mb-4">
                        <h5 class="modal-title" >
                        <b>Fecha y Hora </b><span >{{dtFactura.fecha}} {{dtFactura.hora}}</span></h5>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <div wfd-id="181" class="mb-4">
                        <h5 class="modal-title" >
                        <b>Nit o Cc. </b><span ng-show="dtFactura !== undefined" >{{isUndefined(dtFactura.tercero)?dtFactura.tercero.documento:""}} </span></h5>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div wfd-id="181" class="mb-4">
                      <h5 class="modal-title" >
                      <b>Razon Social </b><span ng-show="dtFactura !== undefined">{{isUndefined(dtFactura.tercero)?dtFactura.tercero.dttercerojuridico.razonSocial:""}} </span></h5>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div wfd-id="181" class="mb-4" ng-show="isUndefined(selectDacutraDetalle)">
                    <h4 class="modal-title" ng-show="selectDacutraDetalle !== undefined"><b>Material: </b><span style="color:red;font-weight:bold;">{{isUndefined(selectDacutraDetalle.materialid)?selectDacutraDetalle.materialid.material.material:""}}</span></h4>
                  </div>
                </div>
                <div class="col-12">
                  <div wfd-id="181" class="mb-4" ng-show="isUndefined(selectDacutraDetalle)">
                      <form wfd-id="176">
                        <div class="form-group" wfd-id="179">
                            <label for="recipient-name" class="control-label" wfd-id="180">Peso vehiculo despues del descargue</label>
                            <input type="text" name="IngPesoVehiculo" [(ngModel)]="dtFactura.pesosalida" class="form-control" id="recipient-name" wfd-id="142">
                        </div>

                        <div class="alert alert-danger" [hidden]="!showDanger" wfd-id="43"> <i class="ti-user"></i> This is an example top alert. You can edit what u wish.
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" wfd-id="186"> <span aria-hidden="true" wfd-id="44">×</span> </button>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
          </div>

          <div class="modal-footer"  wfd-id="174">
              <button type="button" id="closeModalPeso" class="btn btn-default waves-effect" data-dismiss="modal" wfd-id="156">Cerrar</button>
              <button type="button" (click)="finalizar()" class="btn btn-success waves-effect waves-light" wfd-id="155">Finalizar</button>
          </div>

        </div>
  </div>
</div>


